.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.headerLeft {
  flex: 1;
}

.logo {
  height: 50px;
}

.headerCenter {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.headerLink {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.active {
  padding: 10px 15px;
  background-color: #1da1f2;
  border-radius: 48px;
  color: white;
}

.dark-mode {
  color: white;
  background-color: #1da1f2;

  .hero {
    background-color: #161818;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  }

  .header-wave img {
    background-color: #161818;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  }

  .footer-section {
    background-color: #161818;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  }
  .footerWave {
    background-color: #161818;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  }
}
