.heading {
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: lighter;
}

.heading .heading-span {
  font-weight: bolder;
  color: #1da1f2;
  font-size: 58px;
}

.contact-section {
  padding: 0px 60px 60px 60px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .contact-section {
    padding: 0px 30px 30px 30px;
  }
}

input {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 5px 8px;
  margin: 30px auto;
  width: 50%;
  display: block;
  color: black;
  border-radius: 50px;
  padding: 20px;
  outline: none;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  input {
    width: 90%;
    padding: 15px 10px;
  }

  .heading {
    font-size: 20px;
  }
}

::placeholder {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin: 10px 10px;
  opacity: 0.4;
}
