.hero {
  height: 100vh;
  text-align: center;
  background-color: #1da1f2;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  margin: auto auto;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: auto 200px;
  margin: auto auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.heroHeading {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 5px auto;
}

.heroDescription {
  font-size: 16px;
  color: white;
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton1 {
  font-family: Poppins;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 12px;
  border: none;
  background-color: #3a4a53;
  color: white;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.heroButton1:hover {
  background-color: white;
  color: black;
}

.darkModeButton {
  font-family: Poppins;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 12px;
  border: none;
  background-color: #1da1f2;
  color: white;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.darkModeButton:hover {
  background-color: #3a4a53;
  color: white;
}

.VectorImage {
  max-width: 60%;
  animation: upDown 1000ms infinite alternate;
  z-index: -0;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .hero-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
