.heading {
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  margin: 0;
  padding-bottom: 30px;
}

.heading .heading-span {
  font-weight: bolder;
  color: #1da1f2;
  font-size: 58px;
}

.tech-stack-section {
  margin: 40px 60px 60px 60px;
}

.tech-stack-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-stack-items .tech-stack {
  padding: 20px 20px;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .tech-stack-section {
    margin: auto 5px 30px 5px;
  }

  .tech-stack-items{
    justify-content:space-evenly  ;
  }
}
