

.project-card {
  margin: auto;
  -webkit-box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
  border: none;
  border-radius: 19px;
  padding: 20px;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.info-section {
  width: 50%;
}

.project-name {
  font-weight: 900;
}

.project-name h1 {
  padding: 0;
  margin: 0;
}

.tech-name {
  display: flex;
  justify-content: flex-start;
}

.project-description p {
  padding: 0px auto;
}

.image-section {
  width: 50%;
}

.image-section {
  width: 50%;
  padding: 10px;
  overflow: hidden;
  display: flex; /* add this to enable centering of image */
  justify-content: center; /* add this to horizontally center image */
  align-items: center; /* add this to vertically center image */
}

.image-container {
  position: relative;
  display: inline-block;
}

.image{
  width: 100%;
  height: auto;
  transition: 0.8s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .image {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .project-card {
    display: block;
  }

  .project-image img {
    width: 250px;
    height: 130px;
    padding-right: 5px;
  }

  .project-information .project-btn {
    display: grid;
    margin-bottom: 10px;
  }
}

/* Inherited CSS */
.buttons {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.buttons .code-btn {
  margin-right: 30px;
}

.btn-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 5px;
  color: #fff;
  background: grey;
  position: relative;
  transition: 0.8s;
  border: none;
}

.btn-1:hover {
  background: black;
  color: white;
}

@media only screen and (max-width: 768px) {

  .project-name{
    text-align: center;
  }

  .project-card {
    flex-direction: column;
    width: 90%;
  }

  .tech-name{
    justify-content: center;
  }
  
  .info-section,
  .image-section {
    width: 100%;
  }

  .image-section{
    padding: 0%;
    padding-top: 10px;
  }
  
  .image-container {
    width: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons .code-btn {
    margin-right: 10px;
  }
  
  .project-description p {
    margin-top: 20px;
  }
}