.techStack {
  display: flex;
  flex-direction: row;
  min-width: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(203, 203, 255);
  border-radius: 22px;
  padding: 5px 15px;
  border: 1x;
  border-style: groove;
}

.stackName {
  padding: 0px 10px;
}
