.techStack {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #1da1f2;
  border-radius: 22px;
  margin: 20px 10px;
  padding: 5px 5px 0px 5px;
  border: 1px; /* Corrected typo */
  cursor: pointer;
  transition: 600ms;
  color: white;
}

.techStack:hover {
  background-color: rgb(25, 25, 26);
  color: white;
}

.techStackLogo {
  font-size: 40px;
  text-align: center;
}

.stackName {
  padding: 0px 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .techStack {
    width: 20%; /* Adjusted width to 40% */
    margin: 5px; /* Balanced margin */
    padding: none; /* Removed padding */
  }

  .techStackLogo{
    font-size: 40px;
  }

  .stackName {
    padding: 0px 5px;
    font-size: 12px;
  }
}
