.tech-item-name {
    width:fit-content;
    border-radius: 14px;
    background-color: grey;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
    margin-right: 10px ;
    transition: 0.8s;
}

.tech-item-name:hover{
    background-color: black;
    color: white;
}