@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Maven Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  z-index: -1;
}

//Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in;
}

.headerLeft {
  flex: 1;
}

.logo {
  height: 50px;
}

.headerCenter {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.headerLink {
  text-decoration: none;
  padding: 10px;
}

.headerLink.active {
  background-color: #1da1f2;
  border-radius: 48px;
  color: white;
}

.hamburgerMenu {
  display: none !important;
}

.headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dark-mode {
  color: white;
  background-color: #2c2e2e;

  .niches {
    color: #1da1f2;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .headerLink.active {
    background-color: rgba(34, 135, 198, 0.5);
    border-radius: 12px;
    color: white;
  }

  .techStack {
    color: white;
  }
}

.dark-mode .header {
  background-color: #1da1f2;

  .headerLink.active {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    color: white;
  }
}

.dark-mode .hero {
  background-color: #161818;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

.dark-mode .header-wave img {
  background-color: #161818;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

.dark-mode .footer-section {
  background-color: #161818;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

.dark-mode .footerWave {
  background-color: #161818;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

/* Add animation for hamburger icon */
.hamburgerMenuIcon {
  transition: color 0.3s, transform 0.3s;
}

.hamburgerMenuIcon:hover {
  color: #1da1f2;
  cursor: pointer;
}

.hamburgerMenuItem {
  display: none;
}

@media only screen and (max-width: 768px) {
  .headerCenter {
    display: none;
  }

  .hamburgerMenuIcon {
    margin-left: 20px;
  }

  .hamburgerMenuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .headerLink {
    font-size: 12px;
  }

  .headerCenter {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .hamburgerMenu {
    display: block !important;
    font-size: 30px;
    color: #fff;
  }
  .hamburgerMenuIcon {
    margin: 0px;
    margin-left: 20px;
    transition: 100ms ease-in-out;
  }
  .hamburgerMenuIcon:hover {
    color: #1da1f2;
    cursor: pointer;
  }
}

//Footer

.footer-section {
  padding: 0px 0 10px 0;
  background-color: #1da1f2;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 100vw;
}

.back2Top {
  padding: 20px;
  display: flex;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer-section .socials-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-item {
  font-size: 30px;
  margin: auto 15px;
  transition: 200ms ease;
}

.footer-item:hover {
  cursor: pointer;
  color: black;
}

.footer-hr {
  border: 0;
  height: 1px;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.footer-section #creds {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

.footer-section #creds a {
  color: white;
}

.footer-section #creds a:hover {
  color: #000;
  transition: 0.5s;
}

//////////////////////////////////////////////////////ABOUT SECTION //////////////////////////////////////////////////

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 100px;
}

.about-image-section {
  width: 60%;
}

.about-image {
  width: 100%;
  background-size: cover;
  animation: upDownAnimation 1s infinite alternate;
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    width: 80%;
    margin: auto auto;
  }

  .about-image {
    margin-left: auto;
    margin-right: auto;
    line-height: 0%;
  }

  .about-image-section {
    margin: 0px auto 30px;
  }
}

.header-wave img {
  width: 100%;
  background-color: #1da1f2;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

//Contact Section

.heading {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: lighter;
}

.heading .heading-span {
  font-weight: bolder;
  color: #1da1f2;
  font-size: 58px;
}

.contact-section {
  padding: 0px 60px 60px 60px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .contact-section {
    padding: 0px 30px 30px 30px;
  }
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding: 1px 8px;
  margin: 30px auto;
  width: 30%;
  display: block;
  color: black;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 10px;
  outline: none;
}

@media only screen and (max-width: 600px) {
  input {
    width: 90%;
    padding: 15px 10px;
  }

  .heading {
    font-size: 20px;
  }
}

::placeholder {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  opacity: 0.4;
}

//Hero Section
.hero {
  display: flex;
  flex-direction: row-reverse;
  gap: 200px;
  height: 90vh;
  margin: auto auto;
  padding: auto 200px;
  background-color: #1da1f2;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

.herohead {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.left-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto auto;
}

.heroHeading {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 5px 0;
  text-align: left;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.heroDescription {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.niches {
  // color: rgb(234, 219, 17);
  color: black;
  text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hs-item {
  font-size: 25px;
  margin: 15px;
  color: white;
  transition: 300ms;
}

.hs-item:hover {
  color: black;
}

.heroButton1 {
  font-family: Poppins;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 12px;
  border: none;
  background-color: #3a4a53;
  color: white;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.heroButton1:hover {
  background-color: white;
  color: black;
}

.darkModeButton {
  font-family: Poppins;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 12px;
  border: none;
  background-color: #1da1f2;
  color: white;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.darkModeButton:hover {
  background-color: #3a4a53;
  color: white;
}

.right-section {
  width: 30%;
  padding-left: 200px;
}

.hero-img {
  z-index: 1;
  width: 100%;
  animation: upDownAnimation 1s ease-in-out infinite alternate;
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 60% 70% 30% / 30% 70% 40% 60%; /* Intermediate border radius */
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; /* Final border radius */
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    display: 100vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .hero-img {
    width: 200px;
  }

  .right-section {
    padding: 0px;
  }

  .heroHeading {
    font-size: 30px;
  }

  .niches {
    font-size: 30px;
  }
}

//Project Section

.projects-section {
  padding: 0px 60px 60px 60px;
}

@media only screen and (max-width: 600px) {
  .projects-section {
    padding: 0px 30px 30px 30px;
  }
}

.heading {
  text-align: center;
  font-size: 50px;
  padding-bottom: 40px;
  font-weight: lighter;
  animation: slide-down 1500ms ease-in-out;
}

.heading .heading-span {
  font-weight: bolder;
  color: #1da1f2;
  font-size: 58px;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  animation: fadeSlideUp 0.5s ease-out;
  animation-delay: calc(var(--index) * 0.1s);
}

.watch-more-portfolio {
  font-weight: bold;
  text-align: center;
  transition: 200ms;
}

.watch-more-portfolio:hover {
  cursor: pointer;
  opacity: 0.5;
}

//Tech Stack Section

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 30px;
}

.heading .heading-span {
  font-weight: bolder;
  color: #1da1f2;
  font-size: 58px;
}

.tech-stack-category {
  color: #1984c6;
  text-align: center;
}

.tech-stack-section {
  margin: auto auto;
  width: 100%;
  max-width: 800px;
}

.tech-stack-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tech-stack-items .tech-stack {
  padding: 20px;
}

.tech-stack-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  padding: 10px 0;
}

.tech-stack-tools-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 786px) {
  .tech-stack-category {
    margin-top: 20px;
  }

  .tech-stack-tools-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

// Proficiency Feature

.prof-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prof-cats {
  display: flex;
  flex-direction: row;
}

.prof-cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
}

.prof-checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(212, 212, 212);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.prof-text {
  font-weight: bold;
}

.prof-heading-text {
  font-weight: bold;
  font-size: 25px;
  color: #1da1f2;
}

.prof-head-small {
  font-size: 13px;
  color: black;
}

//Project Page

.project-page {
  margin-left: auto;
  margin-right: auto;
}

.project-page-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  cursor: pointer;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.project-page-project-name {
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.project-page-go-back {
  color: white;
  background-color: black;
  padding: 20px 20px;
  border-radius: 22px;
}

.project-page-project-share {
  color: white;
  background-color: black;
  padding: 20px 20px;
  border-radius: 22px;
}

.project-page-body-header {
  text-align: center;
}

.project-page-body {
  margin: auto 300px;
}

//Featured Projects Section

.fp {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #ccc;
  border-radius: 22px;
  min-height: 300px;
  margin: 20px auto;
  overflow: hidden;
}

.fp-right-title {
  font-size: 30px;
  font-weight: bold;
}

.fp-right {
  padding-left: 20px;
  padding-right: 20px;
}

.fp-tech-name {
  display: flex;
  flex-wrap: wrap;
}

.fp-img {
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  transition: transform 0.3s ease;
}

.fp-img:hover {
  transform: scale(1.01);
}

.fp-buttons {
  display: flex;
  flex-direction: row;
}

.fp-btn {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  height: fit-content;
  padding: 5px 20px;
  margin: 10px 10px;
}

.fp-code-btn {
  background-color: #1da1f2;
  align-items: center;
  color: white;
  border-radius: 12px;
  border: white solid;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.fp-code-btn:hover {
  background-color: #396f91;
  transform: scale(1.05);
}

.fp-live-btn {
  background-color: black;
  align-items: center;
  color: white;
  border-radius: 12px;
  border: white solid;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.fp-live-btn:hover {
  background-color: rgb(51, 50, 50);
  transform: scale(1.05);
}

.fp-read-btn {
  background-color: #1da1f2;
  align-items: center;
  color: white;
  border-radius: 12px;
  border: white solid;
  transition: 500ms;
  font-weight: bold;
  cursor: pointer;
}

.fp-read-btn:hover {
  background-color: #396f91;
  transform: scale(1.05);
}

.fp-caution {
  font-size: 13px;
  font-weight: bold;
}

.fp-empty {
  background-color: white;
  color: white;
  width: 10%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .fp {
    flex-direction: column;
  }

  .fp-right {
    width: 90%;
    padding: auto 20px;
  }

  .fp-right-head {
    padding: auto auto;
  }

  .fp-tech-name {
    display: flex;
    flex-wrap: wrap;
  }

  .fp-btn {
    font-size: 9px;
    padding: 10px 14px;
    margin: 5px 2px;
  }

  .fp-tech-name {
    display: flex;
    flex-wrap: nowrap;
    animation: scrollLeft 10s linear infinite;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
    200% {
      transform: translateX(0);
    }
  }

  .fp-short-description p {
    margin: 0px;
  }

  .fp-buttons {
    display: flex;
    flex-direction: row;
    margin: auto auto;
  }
}

//////Tech STack Single Item /////

.techStack {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  border-radius: 22px;
  padding: 5px 5px 0px 5px;
  border: 1px;
  cursor: pointer;
  transition: 600ms;
  color: black;
}

.techStack:hover {
  color: #1da1f2;
}

.techStackLogo {
  font-size: 40px;
  text-align: center;
}

.stackName {
  padding: 0px 10px;
  font-weight: bold;
}

@media only screen and (max-width: 786px) {
  .techStack {
    width: 60px;
    margin: 5px;
    padding: none;
  }

  .techStackLogo {
    font-size: 40px;
  }

  .stackName {
    padding: 0px 5px;
    font-size: 12px;
  }
}
